*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.container{
    display: flex;
    justify-content: space-around;
   
    flex-wrap: wrap;
}
.one{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 20px;
}
.one .btn1 button{
    height: 40px;
    width: 150px;
    border: skyblue solid 1px;
    font-size: 20px;
    
}
.one .btn1 a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
    
}
.two{
    height: auto;
    width: 700px;
    
}
.card{
    margin: 10px;
    border: groove skyblue 1px;
    border-radius: 10px;
}
.text{
    font-size: 17px;
}
.card-body div a{
    text-decoration: none;
}
